<mat-progress-bar
  *ngIf="!covidStatistics"
  mode="indeterminate"
></mat-progress-bar>
<div class="container" *ngIf="covidStatistics">
  <div class="row mt-5">
    <div class="col-lg-12 title">
      <p class="total">Total</p>
      <hr class="title-line" />
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-4">
      <mat-card class="text-center card">
        <div class="total-wrapper">
          <p class="total-title">Total Cases</p>
        <p class="total-statistics">{{ covidStatistics.cases }}</p>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-4">
      <mat-card class="text-center card">
        <div class="total-wrapper">
          <p class="total-title">Total Deaths</p>
        <p class="total-statistics">{{ covidStatistics.deaths }}</p>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-4">
      <mat-card class="text-center card">
        <div class="total-wrapper">
          <p class="total-title">Total Recovered</p>
        <p class="total-statistics">{{ covidStatistics.recovered }}</p>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-12 title">
      <p class="today">Today</p>
      <hr class="title-line"/>
    </div>
  </div>
  <div class="row mt-5">
      <div class="col-lg-4">
        <mat-card class="text-center card">
            <div class="total-wrapper">
              <p class="total-title">Cases</p>
            <p class="total-statistics">{{ covidStatistics.todayCases }}</p>
            </div>
          </mat-card> 
      </div>
      <div class="col-lg-4">
        <mat-card class="text-center card">
            <div class="total-wrapper">
              <p class="total-title">Deaths</p>
            <p class="total-statistics">{{ covidStatistics.todayDeaths }}</p>
            </div>
          </mat-card> 
      </div>
      <div class="col-lg-4">
        <mat-card class="text-center card">
            <div class="total-wrapper">
              <p class="total-title">Recovered</p>
            <p class="total-statistics">{{ covidStatistics.todayRecovered }}</p>
            </div>
          </mat-card> 
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12"></div>
  </div>
</div>
