<div class="container">
    <div class="row mt-4 header">
        <div class="col-lg-3">
            <h1 class="countries-title">Countries</h1>
        </div>
        <div class="col-lg-3">
            <mat-form-field appearance="outline" (keyup)="getSearchValue($event)">
                <mat-label>Search</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
        <div class="col-lg-3">
            <mat-form-field appearance="outline">
                <mat-label>Sort By</mat-label>
                <mat-select disableRipple (selectionChange)="sort($event.value)">
                  <mat-option value='{"field":"country","sort":"ascending"}'>Country name</mat-option>
                  <mat-option value='{"field":"cases","sort":"ascending"}'>Number of cases</mat-option>
                  <mat-option value='{"field":"deaths","sort":"ascending"}'>Number of deaths</mat-option>
                  <mat-option value='{"field":"recovered","sort":"ascending"}'>Number of recovered</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        {{selectedSort}}
        <div class="col-lg-3">
            <mat-paginator class="paginator" [hidePageSize]= "true" [pageSizeOptions]="[30]"></mat-paginator>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mt-5" *ngFor="let countryWiseCovid of countryWiseCovidStatusObs | async">
            <mat-card>
                <div class="row">
                    <div class="col-lg-6">
                        <img class="flag" src="{{countryWiseCovid.countryInfo.flag}}" alt="countryFlag">
                    </div>
                    <div class="col-lg-6" class="country-name">
                        {{countryWiseCovid.country}}
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-4">
                        <p class="statistic-title">Cases</p>
                    <p class="statistics">{{countryWiseCovid.cases}}</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="statistic-title">Deaths</p>
                        <p class="statistics">{{countryWiseCovid.deaths}}</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="statistic-title">Recovered</p>
                        <p class="statistics">{{countryWiseCovid.recovered}}</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-4">
                        <p class="statistic-title">Tests</p>
                        <p class="statistics">{{countryWiseCovid.tests}}</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="statistic-title">Population</p>
                        <p class="statistics">{{countryWiseCovid.population | numberSuffix}}</p>
                    </div>
                    <div class="col-lg-4">
                        <button (click)="editDetails(countryWiseCovid)" class="edit-button" mat-mini-fab color="none"  aria-label="Example icon button with a edit icon">
                            <mat-icon color="primary">edit</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
